page-home {

.content{

    background-image: url('../assets/imgs/map.jpg');
    background-size:cover;
    background-color: rgba(0,0,0,0.7);
}

.itm {
    width:90%;
    margin-left:2.5%;
    padding-top:20px;
}
.hd{
    text-align:center;
}
.csimg {

border-radius : 50%;
width:60%;
margin-left:20%;

}

.btn {
    width:30%;
    margin-left:62.5%;
    background : #fff;
    color : #333;
    margin-top: -100px;
    
}

.ky {
    font-weight:lighter;
    font-size:16px;
    text-align:center;
    margin-top:-1rem;
}

}
